header{
height:60px;
width:100%;

padding-left:15px;
}
h2{
margin-left:36px;
}
.btn{
width:150px;
height:60px;
font-size:18px;
padding:5px;
text-align:center;
border-radius:2px;
margin-top:10px;
text-decoration:none;
background-color:pink;
font-style:black;
}
.btn a{
text-decoration: none;
}
hr{
width:100%;
weight:3px;
margin:15px 5px 0px 5px;
}
.image{
width:150px;
height:200px;
border-radius:14px;

 }

.descrip{
width:100%;

padding:6px;
margin-left:20px;
margin-top:-23px;
font-size:18px;
}
.conteiner{
display:inline-block;
display:flex;
border:1px;

padding:20px;
border-radius:14px;
}
footer{
font-size:25px;
background-color:pink;
font-style:black;
padding:10px;
}